<div id="<%= dom_id listing %>">
  <p>
    <strong>Category:</strong>
    <%= listing.category %>
  </p>
  <p>
    <strong>Style:</strong>
    <%= listing.style %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>
  <p>
    <strong>Price per day:</strong>
    <%= listing.price_per_day %>
  </p>

  <p>
    <%# <%= image_tag listing.product_image %>
  </p>

</div>
