<div id="<%= dom_id listing %>">
  <p>
    <strong>Category:</strong>
    <%= listing.category %>
  </p>
  <p>
    <strong>Style:</strong>
    <%= listing.style %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>
  <p>
    <strong>Price_per_day:</strong>
    <%= listing.price_per_day %>
  </p>

  <p>
    <strong>Product_image:</strong>
    <%= listing.product_image %>
  </p>

</div>
