<div class="wrapper">
    <div class="product-img">
      <%= image_tag @listing.product_image%>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%=@listing.name%></h1><br>
        <h2><%=@listing.category%></h2>
        <h2><%=@listing.style%></h2>
        <p><%=@listing.description%></p>
      </div>
      <div id="price"><p><%=@listing.price_per_day%>€</p></div>
      <div class="product-price-btn">
        <button type="button">Book</button>
      </div>
    </div>
  </div>


  <div id="btn-flat">
    <%= link_to "Listings", listings_path, class: "btn btn-flat"%>
  </div>
