  <div class="wrapper">
    <div class="product-img">
      <%= image_tag @listing.photo%>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%=@listing.name%></h1><br>
        <h2><%=@listing.category%></h2>
        <h2><%=@listing.style%></h2>
        <p><%=@listing.description%></p>
      </div>
      <div id="price"><p><%=@listing.price_per_day%>€</p></div>
      <div id= "book"><%= link_to "Book", new_listing_booking_path(listing), class: "btn btn-flat"%></div>
    </div>
  </div>


<div class="wrapper">
  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>  <br><br>

  <div id="btn-flat">
    <%= link_to "Listings", listings_path, class: "btn btn-flat"%>
  </div>
  <br><br>
