<br><br><br>

<div id="listings">
  <div class="container">
    <h2 style="text-align:center">BROWSE COLLECTION</h2><br><br>


    <%= form_tag listings_path, method: :get, id: "my-search-bar" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: 'search-input',
      type: "search",
      placeholder: "Find a listing" %>
      <i class="fa fa-search"></i>
      <%= submit_tag "Search", id: 'clear-btn'%>
    <% end %>

    <br><br>
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-4">
        <%= link_to listing_path(listing) do %>
          <div class="card content mb-4">
            <div class="card-content">
              <div class="card-img">
                <%= cl_image_tag listing.photo.key %>
              </div>
              <div class="card-infos">
                <div class="info">
                  <h2><%= listing.name %></h2>
                  <p><%= listing.description %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<div id="btn-flat">
<% if policy(Listing).new? %>
  <%= link_to "New Listing", new_listing_path, class: "btn btn-flat"%>
<% end %>
</div>

<br><br>
