<p style="color: green"><%= notice %></p>

<%= render @listing %>

<div>
  <% if policy(@listing).edit? %>
    <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
    <%= button_to "Destroy this listing", @listing, method: :delete %>
  <% end %>

  <%# <%= link_to "Back to listings", listings_path, class: "btn btn-flat"%>

</div>
