<div>
  <div>
    <div class="mynav">
      <input type="checkbox" id="mynav-check">
      <%= link_to root_path do %>
        <div class="mynav-header">
          <div class="mynav-title">FINEST FURNITURE
          </div>
        </div>
      <% end %>
      <div class="mynav-btn">
        <label for="mynav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <div class="mynav-links">
        <%= link_to "HOME", root_path, class: "nav-element #{active?('pages')}" %>
        <%= link_to "COLLECTION", listings_path, class: "nav-element #{active?('listings')}" %>
        <%= link_to "INSPIRATIONS", "https://www.ignant.com/category/design/", target: :_blank %>
        <%= link_to "ABOUT US", about_path, class: "nav-element #{active?('about')}" %>
      <%# Moved out of div to reposition to the right %>
      </div>
    </div>
    <div id="btn-settings" data-controller="login-animation-form">
      <%= link_to 'My finest'.html_safe, new_user_session_path, class: "nav-element #{active?('devise/sessions')}" %></h6>
      <div data-controller="login-animation-form" data-action="click->login-animation-form#showToggle">
    </div>
  </div>
  <%# commented second signin button %>
  <%# <i class="fas fa-sign-in-alt"></i> Show Login Form %>
  </div>
  <div class="login-box" data-controller="login-animation-form">
    <div class="hide-login-btn" data-action="click->login-animation-form#showToggle"><i class="fas fa-times"></i>
    </div>
    <form class="login-form" action="index.html" method="post" data-login-animation-form-target="form">
      <h1>Welcome</h1>
        <input class="txtb" type="text" name="" placeholder="Username">
        <input class="txtb" type="password" name="" placeholder="Password">
        <input class="login-btn" type="submit" name="" value="Login">
    </form>
  </div>
</div>
