<div class=content-wrap>

  <%# <h1>Exceptional furniture all over the world</h1>
  <br>
  <h3><em>A selection of exceptional furniture with unique designs. Top of the line equipment and services and a dedicated furniture designer.</em></h3> %>

<br>

<div class="row">
  <div class="column about-card-white">
      <%= image_tag "https://ca.slack-edge.com/T02NE0241-U03AV0QKPEX-0e14fcf82566-192", class: "img-circle" %>
      <p></p>
      <h3>CEO</h3>
      <p>Work hard.</p>
  </div>
  <div class="column about-card-white">
    <%= image_tag "https://ca.slack-edge.com/T02NE0241-U03AV8CM2QJ-6df1f2e2e57e-512", class: "img-circle" %>
    <p></p>
    <h3>CTO</h3>
    <p>Geek hard.</p>
  </div>
  <div class="column about-card-white">
    <%= image_tag "https://ca.slack-edge.com/T02NE0241-U03AHJH9GKH-ebc6f5b5ad02-192", class: "img-circle" %>
    <p></p>
    <h3>CFO</h3>
    <p>Spend hard.</p>
  </div>
  <div class="column about-card-white">
    <%= image_tag "https://media-exp1.licdn.com/dms/image/C5603AQENpc9vcF7mCA/profile-displayphoto-shrink_400_400/0/1517497344609?e=1658966400&v=beta&t=wjMpoSaVsBCJDcK5ZIi7T6J05b_AJv5JBo61keH2bgw", class: "img-circle" %>
    <p></p>
    <h3>Intern</h3>
    <p>Take it slowly mes poulains.</p>
  </div>
</div>

<div id="btn-flat">
  <%= mail_to "jessica.ribeiro@hotmail.fr", 'Contact us', class: "btn btn-flat"%>
</div>
