<div class="d-flex content-wrap-dashboard">
  <div>
    <div class="card-white" id="profile">
    <h1>Hi <%=@user.name%>! 🤗</h1>
      <img src="https://photos.google.com/share/AF1QipO5gGwV9Xub-sOEsFTl0U4kRg1fOZE0MnoefTzkiALon7AUy8I4RhAVBCsdu2qvVw/photo/AF1QipNmbt31RmuqAwwCmKYqpPM_-g8c3EgJ47mv2ust?key=TVFFZFBTcFNvaWlKekpVVDlKWU5WcVA4VTJPOWd3" class="img-circle" alt="username">
      <% if !@user.bio.nil? %>
      <h2><%=@user.bio%></h2>
      <p>📱 <%=@user.phone_number%></p>
      <p>💌 <%=@user.email%></p>
      <% end %>
    </div>
  </div>

  <div class="my-test">
    <h1>My Finest</h1><br>
    <% @user.listings.each do |listing| %>
    <div class="dashboard-product-card">
      <div class="dashboard-product-img mb-3">
        <%= image_tag listing.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="product-info mb-3">
        <div class="product-text">
          <h1><%=listing.name%></h1><br>
          <h2><%=listing.category%></h2>
          <h2><%=listing.style%></h2>
          <p><%=listing.description%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

