<div class="d-flex content-wrap-dashboard">
  <div>
    <div class="card-white" id="profile">
    <h1>Hi <%=@user.name%>!</h1>
      <%= image_tag "https://ca.slack-edge.com/T02NE0241-U03AV0QKPEX-0e14fcf82566-192", class: "img-circle" %>
      <br><br>
      <h2>Fine Art Gallerist in Paris</h2>
      <br>
      <p>📱 + 33 6 42 42 42 42</p>
      <p>💌 <%=@user.email%></p>
      <div id="btn-flat">
        <%= link_to "Edit my profile", listings_path, class: "btn btn-flat"%>
      </div>
    </div>
  </div>

  <div class="my-listings">
    <h1>My Finest</h1><br>
    <% @user.listings.each do |listing| %>
    <div class="dashboard-product-card">
      <div class="dashboard-product-img mb-3">
        <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="product-info mb-3">
        <div class="product-text">
          <h1><%=listing.name%></h1><br>
          <h2><%=listing.category%></h2>
          <h2><%=listing.style%></h2>
          <p><%=listing.description%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

