<p style="color: green"><%= notice %></p>

<%= render @furntiure %>

<div>
  <%= link_to "Edit this furntiure", edit_furntiure_path(@furntiure) %> |
  <%= link_to "Back to furntiures", furntiures_path %>

  <%= button_to "Destroy this furntiure", @furntiure, method: :delete %>
</div>
